/* assets/css/custom.css */

/* Importar Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Cambiar la fuente global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

/* Cambiar el color de los botones */
.btn-primary {
  background-color: #1ABC9C;
  border-color: #16A085;
}

/* Ajustar el color de los enlaces */
a {
  color: #3498DB;
}

/* Estilo del pie de página */
.footer {
  background-color: #2C3E50 !important;
  color: white;
}

/* Fuentes personalizadas para títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
